<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All tours</title>
</head>
<body>

<h1>Все туры:</h1>

<p>{{tours[1]["country"]}}: <a href="/data/tours/1/">{{tours[1]["title"]}} {{tours[1]["price"]}} {{tours[1]["stars"]}}*</a></p>
<p>{{tours[2]["country"]}}: <a href="/data/tours/2/">{{tours[2]["title"]}} {{tours[2]["price"]}} {{tours[2]["stars"]}}*</a></p>
<p>{{tours[3]["country"]}}: <a href="/data/tours/3/">{{tours[3]["title"]}} {{tours[3]["price"]}} {{tours[3]["stars"]}}*</a></p>
<p>{{tours[4]["country"]}}: <a href="/data/tours/4/">{{tours[4]["title"]}} {{tours[4]["price"]}} {{tours[4]["stars"]}}*</a></p>
<p>{{tours[5]["country"]}}: <a href="/data/tours/5/">{{tours[5]["title"]}} {{tours[5]["price"]}} {{tours[5]["stars"]}}*</a></p>
<p>{{tours[6]["country"]}}: <a href="/data/tours/6/">{{tours[6]["title"]}} {{tours[6]["price"]}} {{tours[6]["stars"]}}*</a></p>
<p>{{tours[7]["country"]}}: <a href="/data/tours/7/">{{tours[7]["title"]}} {{tours[7]["price"]}} {{tours[7]["stars"]}}*</a></p>
<p>{{tours[8]["country"]}}: <a href="/data/tours/8/">{{tours[8]["title"]}} {{tours[8]["price"]}} {{tours[8]["stars"]}}*</a></p>
<p>{{tours[9]["country"]}}: <a href="/data/tours/9/">{{tours[9]["title"]}} {{tours[9]["price"]}} {{tours[9]["stars"]}}*</a></p>
<p>{{tours[10]["country"]}}: <a href="/data/tours/10/">{{tours[10]["title"]}} {{tours[10]["price"]}} {{tours[10]["stars"]}}*</a></p>
<p>{{tours[11]["country"]}}: <a href="/data/tours/11/">{{tours[11]["title"]}} {{tours[11]["price"]}} {{tours[11]["stars"]}}*</a></p>
<p>{{tours[12]["country"]}}: <a href="/data/tours/12/">{{tours[12]["title"]}} {{tours[12]["price"]}} {{tours[12]["stars"]}}*</a></p>
<p>{{tours[13]["country"]}}: <a href="/data/tours/13/">{{tours[13]["title"]}} {{tours[13]["price"]}} {{tours[13]["stars"]}}*</a></p>
<p>{{tours[14]["country"]}}: <a href="/data/tours/14/">{{tours[14]["title"]}} {{tours[14]["price"]}} {{tours[14]["stars"]}}*</a></p>
<p>{{tours[15]["country"]}}: <a href="/data/tours/15/">{{tours[15]["title"]}} {{tours[15]["price"]}} {{tours[15]["stars"]}}*</a></p>
<p>{{tours[16]["country"]}}: <a href="/data/tours/16/">{{tours[16]["title"]}} {{tours[16]["price"]}} {{tours[16]["stars"]}}*</a></p>

</body>
</html>