<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nsk departure</title>
</head>
<body>
<h1>Туры по направлению Новосибирск:</h1>

<p>{{tours[1]["country"]}}: <a href="/data/tours/1/">{{tours[1]["title"]}} {{tours[1]["price"]}} {{tours[1]["stars"]}}*</a></p>
<p>{{tours[3]["country"]}}: <a href="/data/tours/3/">{{tours[3]["title"]}} {{tours[3]["price"]}} {{tours[3]["stars"]}}*</a></p>
<p>{{tours[9]["country"]}}: <a href="/data/tours/9/">{{tours[9]["title"]}} {{tours[9]["price"]}} {{tours[9]["stars"]}}*</a></p>

</body>
</html>